@font-face {
  font-family: 'pacman';
  src: url('./src/fonts/PAC-FONT.TTF'); /* Adicione o caminho para o arquivo da fonte */
}
@font-face {
  font-family: 'pixelizado';
  src: url('./src/fonts/AtariST8x16SystemFont.ttf'); /* Adicione o caminho para o arquivo da fonte */
}


body {
  font-family: 'Press Start 2P', cursive;
  background-color: #000;
  color: #fff;
  text-align: center;
  margin: 0;
  padding: 0;
}

.header{
  display: flex;
  justify-content: center;
  max-width: 100%;
}
.header img {
  max-width: 100%;
}

.subtitulo{
  font-family: 'pixelizado';
  color: yellow;
  max-width: 100%;
}


#product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
  height: 70vh; 
  overflow: auto;
}

.card {
  min-width: 250px;
  background-color: #000;
  font-family: 'pixelizado';
  padding-top: 2%;
  padding-bottom: 1%;
  display: flex;
  flex-direction: column;
  align-items:center;
  border: #0032FE 4px groove;
  border-radius: 5px;
  margin-right: 20px;
}


.card img {
  max-width: 100%;
  border-radius: 5px;
}
.contador{
 display: flex;
 justify-content: center;
 align-items: flex-end;
 height: 20%;
 
}
  
.contador input[type="number"]{
  background-color: #000;
  border: none;
  color: #fff;
  max-width: 50px;
  min-width: 40px;
}
.contador button{
  font-family: 'pixelizado';
  color:yellow;
  border: none;
}
.titulo-card{
  max-width: 100%;
  
  margin-top: 2px;
  font-size: 1rem;
}
.preco-card{
  height: 20%;
}
.preco-card p{
  font-size: 1.75rem;
}
.quantidade-card{
  font-size: 1.5rem;
  color: yellow;
}


.buy-button {
  background-color: yellow;
    color: black;
    border: none;
    padding: 10px 20px;
    font-family: 'pixelizado';
    font-size: 18px;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    cursor: pointer;
    position: fixed;
    bottom: 20px; /* Posiciona o botão a 20px da parte inferior da tela */
    left: 20px; /* Posiciona o botão a 20px da margem esquerda */
    z-index: 999; /* Garante que o botão fique acima de outros elementos */
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 375px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #000;
  border: 1px solid yellow;
  width: 70%;
  margin: 100px auto;
  padding: 20px;
  border-radius: 10px;
  font-family: 'pixelizado';
}
.modal ul{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.modal li {
  list-style-type: none; /* Remove os pontos */
}

.modal button{
  background-color: yellow;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
.qrPacman{
  width: 300px;
  max-width: 95%;
}



